*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    overflow: hidden;
}

.hero{

    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url(log.png);
    background-position: center;
    position: absolute;
    background-size: cover;
}
.formbox{
    width: 350px;
    height: 500px;
    position: relative;
    margin: 6% auto;
    padding: 5px;
    background: rgb(253, 252, 255);
  border: 1.5px solid cornsilk;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.651), 0 6px 20px 0 rgba(0, 0, 0, 0.685);
 overflow: hidden;
}
.buttonbox{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgba(4, 9, 68, 0.226);
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
background: transparent;
position: relative;
border: 0;
outline: none;
font-weight: 600;


}
#btn{
    top: 0px;
    left: 0px;
    position: absolute;
    width: 110px;
    height: 100%;
  
    border-radius: 30px;
    background: linear-gradient(to right, rgba(46, 46, 170, 0.904), rgb(154, 219, 211));
transition: .5s ;
}

.social-Icon{
    margin: 350px auto;
    text-align: center;
   
}
.social-Icon img{
    width: 30px;
    border-radius: 50%;
    cursor: pointer;

}
.input-group{
    top: 110px;
    width: 250px;
    position: absolute;
    transition: .5s;
    align-items: center;
   
  
}
.text-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
text-align: center;
border-top: 0;
border-left: 0;
border-right: 0;
border-bottom: 1px solid black;
outline: none;
background: transparent;




}

#login{
    left: 50px;
}
#register{
    left: 450px;
}


.submit-btn{
   width: 85%;
   padding: 10px 30px;
   
    display: block;
    margin: auto;
    cursor: pointer;
    background: linear-gradient(to right, rgba(46, 46, 170, 0.904), rgb(154, 219, 211));
    outline: none;
    border-radius: 35px ;
    box-shadow: 0 0 20px 9px rgba(4, 9, 68, 0.274);
 font-size: 18px;
 font-weight: 600;
}
.check-box{
    margin: 30px 10px 30px 0;
}
span{
    color: blue;
   font-size: 12px;
    bottom: 74px;
    position: absolute;
    
}
::placeholder{
    font-size: 15px;
}